# /etc/systemd/system/prom_exporter.service
# /etc/systemd/system/prom_exporter.service
[Unit]
Description=Dkron Prometheus Exporter

[Service]
PIDFile=/tmp/prom_exporter.pid
WorkingDirectory=/home/mis-service/prometheus_exporter
ExecStart=/home/mis-service/prometheus_exporter/venv/bin/python3 app.py --port '1234' --host 'https://jobs.moveinsync.com' --basic_auth_user 'mis-user
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target